<h1>Form </h1>
<br><br>

<form [formGroup]="interviewForm" (ngSubmit)="submitInterviewForm()">

    <div class="container">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <div *ngIf="interviewForm.controls['firstName'].hasError('required')" class="alert alert-danger">
                please add first name
            </div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
            <div *ngIf="interviewForm.controls['lastName'].hasError('required')" class="alert alert-danger">
                please add last name

            </div>
        </div>

        <h2>Address</h2>
        <div class="form-group">
            <label>Street:</label>
            <input type="text" class="form-control" formControlName="street">
            <div *ngIf="interviewForm.controls['street'].hasError('required')" class="alert alert-danger">
                please add street

            </div>
        </div>


        <div class="form-group">
            <label>City:</label>
            <input type="text" class="form-control" formControlName="city">
            <div *ngIf="interviewForm.controls['city'].hasError('required')" class="alert alert-danger">
                please add city

            </div>
        </div>

        <div class="form-group">
            <label>State:</label>
            <input type="text" class="form-control" formControlName="state">
            <div *ngIf="interviewForm.controls['state'].hasError('required')" class="alert alert-danger">
                please add state

            </div>
        </div>
        <div class="form-group">
            <label>Zip Code:</label>
            <input type="text" class="form-control" formControlName="zipCode">
            <div *ngIf="interviewForm.controls['zipCode'].hasError('required')" class="alert alert-danger">
                please add zip code
            </div>
        </div>


        <h3>Aliases</h3>
        <button type="button" class="btn btn-primary">+Add another alias</button>
        <div class="form-group">
            <label>Aliases:</label>
            <input type="number" class="form-control" formControlName="aliases">
            <div *ngIf="interviewForm.controls['aliases'].hasError('required')" class="alert alert-danger">
                please add aliases

            </div>
        </div>
    </div>

    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <br />
</form>

